// 标题
header
  font-size 16px
  font-weight bold
  height 40px
  line-height 40px

  .left
    float left

  .right
    float right

// 清除浮动
.clearfix:after
  content '.'
  display block
  clear both
  visibility hidden
  height 0
  font-size 0
.clearfix
  *zoom 1

// 小标题
p.title
  font-size 15px
  font-weight bold
  line-height 30px
  margin-top 5px

  a
    font-size 10px
    font-weight normal
    float right
    color #aaa

// 图片撑满
div.img
  background-repeat no-repeat
  background-position center
  background-size cover
//底部Icon
.bottom
  position absolute
  bottom 0
  display flex
  width 100%
  padding 6px 0
  height 60px
  background #fff

  .item
    display block
    width 25%
    text-align center
    font-size 12px
    line-height 20px

    img
      margin 0 auto
    img.none
      display block
    img.active
      display none

  .item.router-link-active
    img.none
      display none
    img.active
      display block
